<h2>Hey {{name}},</h2>

<p>A new job just dropped that matches your profile:</p>

<strong>{{title}}</strong> <br/>
Company: {{company}} <br/>
Location: {{location}} <br/>

<p>
    <a href="{{link}}">Click here to view/apply</a>
</p>

<p>Good luck 🤞</p>
